<h2><%= t(:listing, :default => "Listing") %> <%= t('app.models.inspection.bs_caption_plural', :default => 'inspection') %></h2>

<p>
  <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.inspection.bs_caption', :default => 'inspection'), new_inspection_path, :class => "btn btn-default" %>
  <% if Inspection.columns.map(&:name).include?("inspection_id") then %>
    <%= link_to '<i class="fa fa-folder-close"></i> '.html_safe + t(:treeview, :default => "Treeview") + ' ' + t('app.models.inspection.bs_caption', :default => 'inspection'), treeview_inspections_path, :class => "btn btn-default" %>
  <% end %>
</p>
<!-- this is cluttering up the view. I'm just commenting it out for now
<%= render :partial => "layouts/mass_inserting", :locals => { :engine => '', :namespace => '', :model_name => 'inspection', :model_columns => ['street_address','visible','chimney_cap_spark_arrestor','chimney_height','crown_wash','flashing','flue_liner_condition','flue_liner_proper_size','proper_flue_material_for_appliance','moisture_resistance','smoke_chamber_smooth_parged','flue_tile_sealed_smoke_chamber','brick_and_mortar','smoke_shelf','connector_to_flue','inspector_name'] } %>
-->

<%# Set your scopes below (string in array) %>
<% scopes = [] %>
<% if not scopes.blank? then %>
<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to "All (#{@inspection_scope_for_scope.count})", inspections_path(:scope => ""), :class => "btn btn-default #{((session[:scope][:inspection].to_s == '') ? 'active' : '')}" %>
    <% for scope in scopes %>
    <%= link_to "#{scope} (#{@inspection_scope_for_scope.send(scope).count})", inspections_path(:scope => scope), :class => "btn btn-default #{((session[:scope][:inspection].to_s == scope) ? 'active' : '')}" %>
    <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-xs btn-default" id="hide-menu-btn">
      <i class="fa fa-caret-left"></i>
      <i class="fa fa-caret-left"></i>
    </a>
    <a class="btn btn-xs btn-default" id="show-menu-btn">
      <i class="fa fa-caret-right"></i>
      <i class="fa fa-caret-right"></i>
    </a>

    <a class="btn btn-xs btn-default pull-right" id="hide-search-btn">
      <i class="fa fa-caret-right"></i>
      <i class="fa fa-caret-right"></i>
    </a>
    <a class="btn btn-xs btn-default pull-right" id="show-search-btn">
      <i class="fa fa-caret-left"></i>
      <i class="fa fa-caret-left"></i>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= form_tag  batch_inspections_path, :class => "form-inline" do %>
<!-- also cluttering up the view. removing for now.
      <div class="well well-small">
        <label class="control-label" for="select01"><%= t(:batch, :default => "Batch") %></label>

        <select id="select01" name="actionprocess" class="form-control">
          <option value="destroy"><%= t(:destroy, :default => "Destroy") %></option>
          <option value="visible.true"><%= t(:settrueforattr, :attr => "'visible'", :default => "Set visible to true") %></option>
          <option value="visible.false"><%= t(:setfalseforattr, :attr => "'visible'", :default => "Set visible to false") %></option>

           Beautiful_scaffold - AddField - Batch - Do not remove 
        </select>
        <button class="btn btn-default" type="submit"><i class="fa fa-ok"></i> <%= t(:process, :default => "Process") %></button>
      </div> 
-->

      <%= render :partial => "layouts/modal_columns", :locals => { :engine_name => '', :model_name => "inspection", :model_columns => ['street_address','visible','chimney_cap_spark_arrestor','chimney_height','crown_wash','flashing','flue_liner_condition','flue_liner_proper_size','proper_flue_material_for_appliance','moisture_resistance','smoke_chamber_smooth_parged','flue_tile_sealed_smoke_chamber','brick_and_mortar','smoke_shelf','connector_to_flue','inspector_name','created_at','updated_at'] } %>

      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th class="ac">
              <a class="" data-toggle="modal" href="#modal-columns" title="<%= t(:select_columns, :default => "Select Columns") %>" ><i class="fa fa-th-list"></i></a>
            </th>
            <th>
              <%= check_box_tag :checkall, '' %>
            </th>
            <th <%= visible_column("inspection", "street_address") %> class="bs-col-street_address">
              <%= sorting_header("inspection", "street_address", "") %>
            </th>
            <th <%= visible_column("inspection", "visible") %> class="bs-col-visible">
              <%= sorting_header("inspection", "visible", "") %>
            </th>
            <th <%= visible_column("inspection", "chimney_cap_spark_arrestor") %> class="bs-col-chimney_cap_spark_arrestor">
              <%= sorting_header("inspection", "chimney_cap_spark_arrestor", "") %>
            </th>
            <th <%= visible_column("inspection", "chimney_height") %> class="bs-col-chimney_height">
              <%= sorting_header("inspection", "chimney_height", "") %>
            </th>
            <th <%= visible_column("inspection", "crown_wash") %> class="bs-col-crown_wash">
              <%= sorting_header("inspection", "crown_wash", "") %>
            </th>
            <th <%= visible_column("inspection", "flashing") %> class="bs-col-flashing">
              <%= sorting_header("inspection", "flashing", "") %>
            </th>
            <th <%= visible_column("inspection", "flue_liner_condition") %> class="bs-col-flue_liner_condition">
              <%= sorting_header("inspection", "flue_liner_condition", "") %>
            </th>
            <th <%= visible_column("inspection", "flue_liner_proper_size") %> class="bs-col-flue_liner_proper_size">
              <%= sorting_header("inspection", "flue_liner_proper_size", "") %>
            </th>
            <th <%= visible_column("inspection", "proper_flue_material_for_appliance") %> class="bs-col-proper_flue_material_for_appliance">
              <%= sorting_header("inspection", "proper_flue_material_for_appliance", "") %>
            </th>
            <th <%= visible_column("inspection", "moisture_resistance") %> class="bs-col-moisture_resistance">
              <%= sorting_header("inspection", "moisture_resistance", "") %>
            </th>
            <th <%= visible_column("inspection", "smoke_chamber_smooth_parged") %> class="bs-col-smoke_chamber_smooth_parged">
              <%= sorting_header("inspection", "smoke_chamber_smooth_parged", "") %>
            </th>
            <th <%= visible_column("inspection", "flue_tile_sealed_smoke_chamber") %> class="bs-col-flue_tile_sealed_smoke_chamber">
              <%= sorting_header("inspection", "flue_tile_sealed_smoke_chamber", "") %>
            </th>
            <th <%= visible_column("inspection", "brick_and_mortar") %> class="bs-col-brick_and_mortar">
              <%= sorting_header("inspection", "brick_and_mortar", "") %>
            </th>
            <th <%= visible_column("inspection", "smoke_shelf") %> class="bs-col-smoke_shelf">
              <%= sorting_header("inspection", "smoke_shelf", "") %>
            </th>
            <th <%= visible_column("inspection", "connector_to_flue") %> class="bs-col-connector_to_flue">
              <%= sorting_header("inspection", "connector_to_flue", "") %>
            </th>
            <th <%= visible_column("inspection", "inspector_name") %> class="bs-col-inspector_name">
              <%= sorting_header("inspection", "inspector_name", "") %>
            </th>

            <!-- Beautiful_scaffold - AddField - Header - Do not remove -->
            <th <%= visible_column("inspection", "created_at") %> class="bs-col-created_at">
              <%= sorting_header("inspection", "created_at", "") %>
            </th>
            <th <%= visible_column("inspection", "updated_at") %> class="bs-col-updated_at">
              <%= sorting_header("inspection", "updated_at", "") %>
            </th>
            <th colspan="3">
              <label class="checkbox">
                <%= check_box_tag :checkallelt, 'all' %>
                <%= pluralize(@inspection_scope.count, t('app.models.inspection.bs_caption', :default => 'inspection'), t('app.models.inspection.bs_caption_plural', :default => 'inspection')) %>
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @inspections.each do |inspection| %>
          <tr class="line-<%= cycle("1","2") %>">
            <td class="ar"><%= inspection.id %></td>
            <td><%= check_box_tag "ids[]",inspection.id, false, :class => 'cbbatch' %></td>
            <td <%= visible_column("inspection", "street_address") %> class="bs-col-street_address <%= align_attribute("string") %>">
                <%= inspection.street_address %>
            </td>
            <td <%= visible_column("inspection", "visible") %> class="bs-col-visible <%= align_attribute("boolean") %>">
                <%= t((inspection.visible ? "yes" : "no").to_sym) %>
            </td>
            <td <%= visible_column("inspection", "chimney_cap_spark_arrestor") %> class="bs-col-chimney_cap_spark_arrestor <%= align_attribute("string") %>">
                <%= inspection.chimney_cap_spark_arrestor %>
            </td>
            <td <%= visible_column("inspection", "chimney_height") %> class="bs-col-chimney_height <%= align_attribute("string") %>">
                <%= inspection.chimney_height %>
            </td>
            <td <%= visible_column("inspection", "crown_wash") %> class="bs-col-crown_wash <%= align_attribute("string") %>">
                <%= inspection.crown_wash %>
            </td>
            <td <%= visible_column("inspection", "flashing") %> class="bs-col-flashing <%= align_attribute("string") %>">
                <%= inspection.flashing %>
            </td>
            <td <%= visible_column("inspection", "flue_liner_condition") %> class="bs-col-flue_liner_condition <%= align_attribute("string") %>">
                <%= inspection.flue_liner_condition %>
            </td>
            <td <%= visible_column("inspection", "flue_liner_proper_size") %> class="bs-col-flue_liner_proper_size <%= align_attribute("string") %>">
                <%= inspection.flue_liner_proper_size %>
            </td>
            <td <%= visible_column("inspection", "proper_flue_material_for_appliance") %> class="bs-col-proper_flue_material_for_appliance <%= align_attribute("string") %>">
                <%= inspection.proper_flue_material_for_appliance %>
            </td>
            <td <%= visible_column("inspection", "moisture_resistance") %> class="bs-col-moisture_resistance <%= align_attribute("string") %>">
                <%= inspection.moisture_resistance %>
            </td>
            <td <%= visible_column("inspection", "smoke_chamber_smooth_parged") %> class="bs-col-smoke_chamber_smooth_parged <%= align_attribute("string") %>">
                <%= inspection.smoke_chamber_smooth_parged %>
            </td>
            <td <%= visible_column("inspection", "flue_tile_sealed_smoke_chamber") %> class="bs-col-flue_tile_sealed_smoke_chamber <%= align_attribute("string") %>">
                <%= inspection.flue_tile_sealed_smoke_chamber %>
            </td>
            <td <%= visible_column("inspection", "brick_and_mortar") %> class="bs-col-brick_and_mortar <%= align_attribute("string") %>">
                <%= inspection.brick_and_mortar %>
            </td>
            <td <%= visible_column("inspection", "smoke_shelf") %> class="bs-col-smoke_shelf <%= align_attribute("string") %>">
                <%= inspection.smoke_shelf %>
            </td>
            <td <%= visible_column("inspection", "connector_to_flue") %> class="bs-col-connector_to_flue <%= align_attribute("string") %>">
                <%= inspection.connector_to_flue %>
            </td>
            <td <%= visible_column("inspection", "inspector_name") %> class="bs-col-inspector_name <%= align_attribute("string") %>">
                <%= inspection.inspector_name %>
            </td>
<!-- Beautiful_scaffold - AddField - Column - Do not remove -->
            <td <%= visible_column("inspection", "created_at") %> class="bs-col-created_at <%= align_attribute("datetime") %>">
              <%= l(inspection.created_at, :format => :long) %>
            </td>
            <td <%= visible_column("inspection", "updated_at") %> class="bs-col-updated_at <%= align_attribute("datetime") %>">
              <%= l(inspection.updated_at, :format => :long) %>
            </td>
            <td class="ac am"><%= link_to '<i class="fa fa-search"></i>'.html_safe, inspection_path(inspection), :title => t(:show, :default => "Show") %></td>
            <td class="ac am"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_inspection_path(inspection), :title => t(:edit, :default => "Edit") %></td>
            <td class="ac am"><%= link_to '<i class="fa fa-times"></i>'.html_safe, inspection_path(inspection), :data => { :confirm => t(:are_you_sure, :default => "Are you sure?") }, :method => :delete, :title => t(:destroy, :default => "Destroy") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="btn-toolbar">
        <div class="btn-group">
          <% clean_params %>
          <%= will_paginate @inspections,
                  :inner_window => 0,
                  :outer_window => 0,
                  :previous_label => t(:prev, :default => "Previous"),
                  :next_label => t(:next, :default => "Next") %>

        </div>
        <div class="btn-group pull-right">
          <%= link_to '<i class="fa fa-download"></i> CSV'.html_safe,  inspections_path(:format => :csv), :class => "btn btn-default" %>
          <%= link_to '<i class="fa fa-download"></i> XML'.html_safe,  inspections_path(:format => :xml), :class => "btn btn-default" %>
          <%= link_to '<i class="fa fa-download"></i> JSON'.html_safe, inspections_path(:format => :json), :class => "btn btn-default" %>
          <%= link_to '<i class="fa fa-download"></i> PDF'.html_safe,  inspections_path(:format => :pdf), :class => "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= search_form_for @q, :url => search_inspections_path, :html => { :class => "well well-small search-and-filter" }, :method => :post do |f| %>

      <h3><%= t("search_and_filter", :default => "Search & filter") %></h3>

      <%= ransack_field("inspection", "street_address", f, "Street_address") %>
      <%= ransack_field("inspection", "visible", f, "Visible") %>
      <%= ransack_field("inspection", "chimney_cap_spark_arrestor", f, "Chimney_cap_spark_arrestor") %>
      <%= ransack_field("inspection", "chimney_height", f, "Chimney_height") %>
      <%= ransack_field("inspection", "crown_wash", f, "Crown_wash") %>
      <%= ransack_field("inspection", "flashing", f, "Flashing") %>
      <%= ransack_field("inspection", "flue_liner_condition", f, "Flue_liner_condition") %>
      <%= ransack_field("inspection", "flue_liner_proper_size", f, "Flue_liner_proper_size") %>
      <%= ransack_field("inspection", "proper_flue_material_for_appliance", f, "Proper_flue_material_for_appliance") %>
      <%= ransack_field("inspection", "moisture_resistance", f, "Moisture_resistance") %>
      <%= ransack_field("inspection", "smoke_chamber_smooth_parged", f, "Smoke_chamber_smooth_parged") %>
      <%= ransack_field("inspection", "flue_tile_sealed_smoke_chamber", f, "Flue_tile_sealed_smoke_chamber") %>
      <%= ransack_field("inspection", "brick_and_mortar", f, "Brick_and_mortar") %>
      <%= ransack_field("inspection", "smoke_shelf", f, "Smoke_shelf") %>
      <%= ransack_field("inspection", "connector_to_flue", f, "Connector_to_flue") %>
      <%= ransack_field("inspection", "inspector_name", f, "Inspector_name") %>


      <!-- Beautiful_scaffold - AddField - Search - Do not remove -->

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse-next">
              <%= t(:more_options, :default => "More options...") %>
            </a>
          </div>
          <div class="panel-collapse collapse">
            <div class="panel-body">
              <%= ransack_field("inspection", "created_at", f, "Created At") %>
              <%= ransack_field("inspection", "updated_at", f, "Updated At") %>
              <%= ransack_field("inspection", "id", f, "Id") %>

            </div>
          </div>
        </div>
      </div>


      <%= f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary" %>
      <%= link_to  t(:cancel, :default => "Cancel"), inspections_path(:nosearch => "ok"), :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
